<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Akshar&family=Orelega+One&family=Overpass:wght@300&family=Poppins:wght@100;200;500&family=Rubik+Moonrocks&display=swap" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-fixed-top navbar-dark">
    <a class="navbar navbar-brand" href='#'>Today's News Highlight</a>
    <button class="navbar-toggle" data-toggle="collapse" data-target="#navbarmain" type="button" aria-expanded="false" aria-Controls="#navbarmain" aria-label="Toggle navigation" <span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarmain">
        <ul class=" navbar-nav navbar-right mr-auto">
            <li class="nav-item active">
                <a class="nav-link home" href="/">Home</a>
            
            </li>
            <li class="nav-item">
                <a class="nav-link articles" href="/">Articles</a>
            </li>
        </ul>
    </div>